<div id="notebooks" ng-app="notebooks" ng-controller="NotebookListCtrl">
  <div class="row" [align]="'center'">
    <div class="col-4">
      <input type="text" id="query" [(ngModel)]="Nom" placeholder="Nom" />
    </div>
    <div class="col-4">
      <input
        type="text"
        id="query"
        [(ngModel)]="Categorie"
        placeholder="Categorie"
      />
    </div>

    <div class="col-4">
      <button type="button" style="cursor: pointer" (click)="Ajouter()">
        Ajouter
      </button>
    </div>
  </div>
  <br />
  <app-content [Fruits]="Fruits"></app-content>
  <br />
  <span>Nombre de fruits: {{ Fruits.length }}</span>
</div>

<router-outlet />
